.card {
  width: 100%;
  border: 0 transparent;
  border-radius: 1px;
}

.done {
  color: var(--cxm-silver);
  opacity: 0.8;
  text-decoration: line-through black;
}

.text-panel {
  padding-left: 2rem;
  border-radius: 1rem;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 2rem;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todo-item:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .todo-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.no-notes-warning {
  text-align: center;
}

.delete-button {
  transition: 250ms;
}

.delete-button:hover {
  color: var(--cxm-red);
}
