:root {
  --cxm-purple: #754DD1;
  --cxm-blue: #59BBf7;
  --cxm-teal: #0ED3DB;

  --cxm-ligh-gray: #7F8Fa4;
  --cxm-dark-gray: #354052;

  --cxm-silver: #90A8CB;
  --cxm-white: #f3f7ff;
  --cxm-black: #282b52;

  --cxm-red : #F93077;

  --cxm-gradient-blue: linear-gradient(to bottom, #7C1CFF, #1CC4FF);
  --cxm-gradient-purple: linear-gradient(to bottom, #7C1CFF, #D491FF);
  --cxm-gradient-teal: linear-gradient(to bottom, #1CC4FF, #29E0C0);
  --cxm-gradient-green: linear-gradient(to bottom, #28B477, #29E090);
  --cxm-gradient-red: linear-gradient(to bottom, #F93077, #FFA0C1);

}

//#1976d2
